<DTSControl>
  <Version>1.0</Version>
  <AddressType>ALL</AddressType>
  <MessageType>Data</MessageType>
  <From_ESMTP>${exchange.properties.To_ESMTP}</From_ESMTP>
  <From_DTS>${exchange.properties.To_DTS}</From_DTS>
  <To_ESMTP>${exchange.properties.From_ESMTP}</To_ESMTP>
  <To_DTS>${exchange.properties.From_DTS}</To_DTS>
  <Subject></Subject>
  <LocalId>${exchange.properties.LocalId}</LocalId>
  <DTSId>${exchange.properties.DTSId}</DTSId>
  <WorkflowId>TOC_DISCH_DMS_ACK</WorkflowId>
  <ProcessId></ProcessId>
  <Compress>N</Compress>
  <Encrypted>N</Encrypted>
  <DataChecksum></DataChecksum>
  <IsCompressed>N</IsCompressed>
  <StatusRecord>
    <DateTime>20151023154813</DateTime>
    <Event>TRANSFER</Event>
    <Status>SUCCESS</Status>
    <StatusCode>00</StatusCode>
    <Description>Transferred to recipient mailbox</Description>
  </StatusRecord>
</DTSControl>