<itk:DistributionEnvelope xmlns:itk="urn:nhs-itk:ns:201005" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <itk:header service="${exchange.properties.SERVICE}" trackingid="${exchange.properties.trackingId}">
               <itk:addresslist>
                       <itk:address uri="${exchange.properties.SENDER_ADDRESS}" />
               </itk:addresslist>
               <itk:auditIdentity>
                       <itk:id uri="${exchange.properties.RESPONDER_IDENTITY}" />
               </itk:auditIdentity>
               <itk:manifest count="1">                     
                        <itk:manifestitem id="uuid_${exchange.properties.PAYLOAD_UUID}" mimetype="text/xml" />
               </itk:manifest>
               <itk:senderAddress uri="${exchange.properties.RESPONDER_ADDRESS}" />
               <itk:handlingSpecification>
                       <itk:spec value="urn:nhs-itk:interaction:ITKInfrastructureAcknowledgement-v1-0" key="urn:nhs-itk:ns:201005:interaction" />
               </itk:handlingSpecification>
        </itk:header>
        <itk:payloads count="1">
               <itk:payload id="uuid_${exchange.properties.PAYLOAD_UUID}">
                       <itk:InfrastructureResponse timestamp="${exchange.properties.DATETIME}"
                       				serviceRef="urn:nhs-itk:services:201005:sendDistEnvelope"
                       				trackingIdRef="${exchange.properties.TRACKING_ID}" result="Failure">
                               <itk:reportingIdentity>
                                      <itk:id uri="${exchange.properties.RESPONDER_IDENTITY}" />
                               </itk:reportingIdentity>
                       <itk:errors>
							<itk:errorInfo>
								<itk:ErrorID>"${exchange.properties.ERROR_UUID}"</itk:ErrorID>
								<itk:ErrorCode codeSystem="2.16.840.1.113883.2.1.3.2.4.17.516">DE0009</itk:ErrorCode>
								<itk:ErrorText>Distribution Envelope Handling Specifications Processing Error</itk:ErrorText>
								<itk:ErrorDiagnosticText>MESH Responder Negative Test</itk:ErrorDiagnosticText>
							</itk:errorInfo>
					</itk:errors>
                       </itk:InfrastructureResponse>
               </itk:payload>
        </itk:payloads>
</itk:DistributionEnvelope>